body {
  text-align: center;

  background-color: #12409b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 10px;
}





/* .App-header {
  background-color: #12409b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 10px;
}
 */



 .success {
	border: 6px solid green;
	background: lightgray;
	color: green;
	font-size: 26px;
	padding: 20px;
	margin: 30px;
}

.error {
	border: 6px solid red;
	background: lightgray;
	color: red;
	font-size: 26px;
	padding: 20px;
	margin: 30px;
}